extends ../layout

block content
  include header
  //- 主页面
  // 选项卡类型
  input(type='hidden' value='#{tkd_type}' id='tabType')
  .mainmenu.main-panel#mainmenu
    .menu-nav.row
      ul.nav.nav-tabs(role="tablist")
        li.col-md-3(id="menu-rule")
          a(href="/admin/tkd?tkd_type=rule" title="规则") 规则
        li.col-md-3(id="menu-card")
          a(href="/admin/tkd?tkd_type=card" title="游戏牌") 游戏牌
        li.col-md-3(id="menu-heros")
          a(href="/admin/tkd?tkd_type=heros" title="武将") 武将
        li.active.col-md-3(id="menu-str")
          a(href="#" title="攻略") 攻略

    // 卡牌组合
    .tab-content
      // 主页面点击删除的ID
      input(type='hidden' value='' id='selectId')
      .tab-pane(class="fade item-list" id="rule") 规则内容
      .tab-pane(class="fade item-list" id="card") 卡牌内容
      .tab-pane(class="fade item-list" id="heros") 武将内容
      .list-group.tab-pane(class="fade in active item-list" id="strategy") 
        table.table.table-bordered.table-hover
          thead
            tr.info
              th 标题
              th 内容简介
              th 图标
              th 更新
              th 操作
          tbody
            if strategyList && strategyList.length > 0
              each strategy in strategyList
                tr
                  td #{strategy.title}
                  td #{strategy.desc}
                  td
                    img.list-ico(src='#{strategy.ico}' alt='#{strategy.title}')
                  td 
                    a.link.card-update(href='javascript:void(0);' data-id='#{strategy._id}') 更新
                  td
                    a(data-id='#{strategy._id}' class="remove_strategy_btn").btn.btn-danger 删除
            else
              tr 
                td 暂无数据
                td 
                td
                td
                td
            
        a(id='add_card_btn').btn.btn-primary 添加 

    //删除提示弹出框
    .modal(id='removeConfirm')
      .modal-dialog
        .modal-content
          .modal-header
            button(type="button" data-dismiss="modal").close
              span(aria-hidden="true") &times;
              span.sr-only Close
            h4.modal-title 删除提示
          
          .modal-body
            p(id='removeips') 确定要删除该卡牌吗？
          
          .modal-footer
            button(type="button" data-dismiss="modal" id="cancelRemove").btn.btn-default 关闭
            button(type="button" id="removeSubmit").btn.btn-primary 确定

  include breadcrumb

  // 加入上传插件
  script(type="text/javascript",src="/components/jquery.ui.widget.js")
  script(type="text/javascript",src="/components/jquery.iframe-transport.js")
  script(type="text/javascript",src="/components/jquery.fileupload.js")
  // 上传公共脚本
  script(type="text/javascript",src="/js/fileUpload.js")
  //导入tkd处理脚本
  script(src="/js/tkd_strategy.js")
