extends ../layout

block content
  include header
  //- 主页面
  // 选项卡类型
  input(type='hidden' value='#{tkd_type}' id='tabType')
  .mainmenu.main-panel#mainmenu
    .menu-nav.row
      ul.nav.nav-tabs(role="tablist")
        li.col-md-3(id="menu-rule")
          a(href="/admin/tkd?tkd_type=rule" title="规则") 规则
        li.active.col-md-3(id="menu-card")
          a(href="#" title="游戏牌") 游戏牌
        li.col-md-3(id="menu-heros")
          a(href="/admin/tkd?tkd_type=heros" title="武将") 武将
        li.col-md-3(id="menu-str")
          a(href="/admin/tkd?tkd_type=strategy" title="攻略") 攻略

    // 卡牌组合
    .tab-content
      // 主页面点击删除的ID
      input(type='hidden' value='' id='selectId')
      .tab-pane(class="fade item-list" id="rule") 规则内容
      .list-group.tab-pane(class="fade in active item-list" id="card") 
        table.table.table-bordered.table-hover
          thead
            tr.info
              th 标题
              th 内容简介
              th 图标
              th 更新
              th 操作
          tbody
            if cardObj && cardObj.cardList.length > 0
              each card in cardObj.cardList
                tr
                  td #{card.title}
                  td #{card.desc}
                  td
                    img.list-ico(src='#{card.ico}' alt='#{card.title}')
                  td 
                    a.link.card-update(href='javascript:void(0);' data-id='#{card._id}') 更新
                  td
                    a(data-id='#{card._id}' class="remove_card_btn").btn.btn-danger 删除
                    a(href="/admin/tkd/cardDetailList?typeId=#{card._id}").btn.btn-primary  列表
            else
              tr 
                td 暂无数据
                td 
                td
                td
                td
            
        a(id='add_card_btn').btn.btn-primary 添加 
      .tab-pane(class="fade item-list" id="heros") 武将内容
      .tab-pane(class="fade item-list" id="strategy") 攻略内容

    //删除提示弹出框
    .modal(id='removeConfirm')
      .modal-dialog
        .modal-content
          .modal-header
            button(type="button" data-dismiss="modal").close
              span(aria-hidden="true") &times;
              span.sr-only Close
            h4.modal-title 删除提示
          
          .modal-body
            p(id='removeips') 确定要删除该卡牌吗？
          
          .modal-footer
            button(type="button" data-dismiss="modal" id="cancelRemove").btn.btn-default 关闭
            button(type="button" id="removeSubmit").btn.btn-primary 确定

  include breadcrumb

  //- 二级页面（新增、更新卡牌类型）
  .container.unvisible#subPanel
    .row.unvisible.card_add_panel
      form.form-horizontal(method="POST" action="tkd/cardAdd" name='cardform')
        .alert.alert-warning.hidden(role='alert') 警告内容
        .form-group
          label.col-md-1.control-label 标题
          .col-md-10
            input(type="text" class="title" name="title").form-control
        .form-group
          label.col-md-1.control-label 简介
          .col-md-10
            input(type="text" class="desc" name="desc").form-control
        .form-group
          label.col-md-1.control-label 图标
          .col-md-2.prelative
            //- 隐藏上传图控件, data-type card-add:  新增卡牌， card-update： 更新卡牌
            input.upload-file.form-control.unvisibility.btn.btn-primary(type="file" name="ico" value='点击上传图标')
            input.icoPath(type="hidden" name='icoPath' value='')
            .btn.btn-primary(class="upload-ico").form-control 点击上传图标
          .col-md-2
            .upload-tips.unvisible 图标上传提示
            input.icoName(type='hidden' name='icoName' value='')
          .col-md-4.col-md-offset-2
            .upload-pro.unvisible.progress
              .progress-bar(role="progressbar")
        .form-group
          .col-md-1.col-md-offset-1
            .commit_btn.btn.btn-primary(data-type='add') 提交添加
            //- button(type="submit").btn.btn-primary 提交添加
          .col-md-2
            a.back_main.btn.btn-primary 返回
    .row.unvisible.card_update_panel
      form.form-horizontal(method="POST" action="tkd/cardUpdate" name='cardform')
        input(type='hidden' class='card_id' name='id' value='')
        .form-group
          label.col-md-1.control-label 标题
          .col-md-10
            input(type="text" class="title" name="title").form-control
        .form-group
          label.col-md-1.control-label 简介
          .col-md-10
            input(type="text" class="desc" name="desc").form-control
        .form-group
          label.col-md-1.control-label 图标
          .col-md-2.prelative
            //- 隐藏上传图控件, data-type card-add:  新增卡牌， card-update： 更新卡牌
            input.upload-file.form-control.unvisibility.btn.btn-primary(type="file" name="ico" value='点击上传图标')
            input.icoPath(type="hidden" name='icoPath' value='')
            .btn.btn-primary(class="upload-ico").form-control 点击上传图标
          .col-md-2
            .upload-tips.unvisible 图标上传提示
            input.icoName(type='hidden' name='icoName' value='')
          .col-md-4.col-md-offset-2
            .upload-pro.unvisible.progress
              .progress-bar(role="progressbar")
        .form-group
          .col-md-1.col-md-offset-1
            button.commit_btn.btn.btn-primary(data-type='update') 提交更新
          .col-md-2
            a.back_main.btn.btn-primary 返回
    //- 卡牌列表
    .row.unvisible.card_detial_list_panel
      table.table.table-bordered.table-hover
        thead
          tr.info
            th 标题
            th 内容简介
            th 图标
            th 更新
            th 操作
        tbody
          tr 
            td 暂无数据
            td 
            td
            td
            td
      a.back_main.btn.btn-primary 返回
      a(id='addDetailBtn').btn.btn-primary.add_detail_btn 添加

  //- 三级页面（新增、更新 卡牌）
  .container.unvisible#childPanel
    input(type="hidden" id="cardTypeId" value="")
    .row.add_detail_card_panel
      form.form-horizontal(method="POST" action="tkd/addCardDetail" name='detailform')
        input.card_type_id(type="hidden" value="" name="typeId")
        .alert.alert-warning.hidden(role='alert') 警告内容
        .form-group
          label.col-md-1.control-label 标题
          .col-md-10
            input(type="text" class="title" name="title").form-control
        .form-group
          label.col-md-1.control-label 内容
          .col-md-10
            textarea(class="content" name="content").form-control
        .form-group
          label.col-md-1.control-label 图标
          .col-md-2.prelative
            //- 隐藏上传图控件, data-type card-add:  新增卡牌， card-update： 更新卡牌
            input.upload-file.form-control.unvisibility.btn.btn-primary(type="file" name="ico" value='点击上传图标')
            input.icoPath(type="hidden" name='icoPath' value='')
            .btn.btn-primary(class="upload-ico").form-control 点击上传图标
          .col-md-2
            .upload-tips.unvisible 图标上传提示
            input.icoName(type='hidden' name='icoName' value='')
          .col-md-4.col-md-offset-2
            .upload-pro.unvisible.progress
              .progress-bar(role="progressbar")
        .form-group
          .col-md-1.col-md-offset-1
            .commit_btn.btn.btn-primary(data-type='add') 提交添加
            //- button(type="submit").btn.btn-primary 提交添加
          .col-md-2
      a.back_sub_panel.btn.btn-primary 返回    


  // 加入上传插件
  script(type="text/javascript",src="/components/jquery.ui.widget.js")
  script(type="text/javascript",src="/components/jquery.iframe-transport.js")
  script(type="text/javascript",src="/components/jquery.fileupload.js")
  // 上传公共脚本
  script(type="text/javascript",src="/js/fileUpload.js")
  //导入tkd处理脚本
  script(src="/js/tkd_card.js")
