extends ../layout

block content
  include header
  //- 主页面
  // 选项卡类型
  input(type='hidden' value='#{tkd_type}' id='tabType')
  .mainmenu.main-panel#mainMenu
    .menu-nav.row
      ul.nav.nav-tabs(role="tablist")
        li.col-md-3(id="menu-rule")
          a(href="/admin/tkd?tkd_type=rule" title="规则") 规则
        li.col-md-3(id="menu-card")
          a(href="/admin/tkd?tkd_type=card" title="游戏牌") 游戏牌
        li.active.col-md-3(id="menu-heros")
          a(href="#" title="武将") 武将
        li.col-md-3(id="menu-str")
          a(href="/admin/tkd?tkd_type=strategy" title="攻略") 攻略

    // 卡牌组合
    .tab-content
      // 主页面点击删除的ID
      input(type='hidden' value='' id='selectId')
      .tab-pane(class="fade item-list" id="rule") 规则内容
      .tab-pane(class="fade item-list" id="card") 卡牌内容
      .list-group.tab-pane(class="fade in active item-list" id="heros") 
        table.table.table-bordered.table-hover
          thead
            tr.info
              th 名字
              th 武将称号
              th 头像
              th 更新
              th 操作
          tbody
            if herosList && herosList.length > 0
              each hero in herosList
                tr
                  td #{hero.name}
                  td #{hero.nickName}
                  td
                    img.list-ico(src='#{hero.ico}' alt='#{hero.name}')
                  td 
                    a.link.card-update(href='javascript:void(0);' data-id='#{hero._id}') 更新
                  td
                    a(data-id='#{hero._id}' class="remove_hero_btn").btn.btn-danger 删除
            else
              tr 
                td 暂无数据
                td 
                td
                td
                td
            
        .form-group.mt10
          a(id='countryBtn').btn.btn-primary 管理势力
          a(id='packageBtn').ml20.btn.btn-primary 管理包
          a(id='addHeroBtn').ml20.btn.btn-primary 添加武将

      .tab-pane(class="fade item-list" id="strategy") 攻略内容

    //删除提示弹出框
    .modal(id='removeConfirm')
      .modal-dialog
        .modal-content
          .modal-header
            button(type="button" data-dismiss="modal").close
              span(aria-hidden="true") &times;
              span.sr-only Close
            h4.modal-title 删除提示
          .modal-body
            p(id='removeips') 确定要删除该武将吗？
          .modal-footer
            button(type="button" data-dismiss="modal" id="cancelRemove").btn.btn-default 关闭
            button(type="button" id="removeSubmit").btn.btn-primary 确定

  include breadcrumb

  //- 二级页面（新增、更新武将、包、势力）
  .container.dn#subPanel
    .row.dn.coutry_update_panel
      form.form-horizontal
        .alert.alert-warning.hidden(role='alert') 警告内容
        //- 已有势力显示容器
        .country_list_wrap
          .row
          a.add_country.btn.btn-primary 新增势力
        .form-group
          .col-md-1.col-md-offset-1
            .commit_btn.btn.btn-primary(data-type='add') 提交更新
          .col-md-2
            a.back_main.btn.btn-primary 返回

  // 加入上传插件
  script(type="text/javascript",src="/components/jquery.ui.widget.js")
  script(type="text/javascript",src="/components/jquery.iframe-transport.js")
  script(type="text/javascript",src="/components/jquery.fileupload.js")
  // 上传公共脚本
  script(type="text/javascript",src="/js/fileUpload.js")
  //导入tkd处理脚本
  script(src="/js/common/common.js")
  script(src="/js/common/validate.js")
  script(src="/js/tkd_hero.js")
